.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em 1em 2.5em;
  height: 7%;
  background-color: #363C3C;
}

.imageContainer {
  cursor: pointer;
}

.logo {
  font-size: 1.5rem;
  color: black;
  font-family: 'Fira', sans-serif;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  font-size: large;
  border-radius: 0.5em;
  padding-left: 1em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
