/** Details */
.colorSwatchContainer {
  height: 70%;
  width: 100%;
  border-radius: 0.5em;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.colorSwatch {
  width: 100%;
  height: 50vh;
}

.colorInfo {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: x-large;
}

/** Shade Tiles */
.colorSwatchTileShadeContainer {
  height: 70%;
  width: 15%;
  border: 2px solid whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  cursor: pointer;
}

.colorSwatchTileShade {
  width: 100%;
  height: 10vh;
  padding: 0 1em;
}

.colorInfoTileShade {
  display: flex;
  padding: 0.5em 0.5em;
  font-size: medium;
  background-color: #fdfdfd;
}

/** Detail List Tiles */
.colorSwatchTileListContainer {
  height: 100%;
  width: 100%;
  border: 2px solid whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  cursor: pointer;
}

.colorSwatchTileList {
  width: 100%;
  height: 120px;
  padding: 0 1em;
}

.colorInfoTileList {
  display: flex;
  padding: 0.5em 0.5em;
  font-size: medium;
  background-color: #fdfdfd;
}