.menu {
  background-color: #D6D8D8;
  width: 20%;
  height: 100%;
  min-height: 610px;
  min-width: 180px;
  padding-top: 2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.randomColorContainer {
  display: flex;
}

.randomColor {
  flex: 1;
  cursor: pointer;
  background-color: #FFFFFF;
}
