.menu {
  background-color: #D6D8D8;
  width: 20%;
  min-height: 100%;
  padding-top: 2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.randomColorContainer {
  display: flex;
}

.randomColor {
  flex: 1;
  cursor: pointer;
}
